<div id="header">
  <div id="content">
    <a href="/ideas">Ideas</a>
    <a href="/ideas/<%= idea.id %>"><%= idea.id %></a>
    <a href="#">Edit</a>
  </div>
</div>

<%= erb :form, locals: {
  idea: idea, 
  method: "PUT", 
  action: "/ideas/#{idea.id}/edit"
} %>