<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>

    <h1>Add a new idea</h1>
    <form action='/ideas/new' method='POST'>
      <input type='text' name='title'/><br/>
      <textarea name='description'></textarea><br/>
      <input type='submit' value="Save"/>
    </form>

  </body>
</html>