<div id="header">
  <div id="content">
    <a href="/ideas">Ideas</a>
    <a href="#">New</a>
  </div>
</div>

<form action='/ideas/new' method='POST'>
  <input type='text' name='title'/><br/>
  <textarea name='description'></textarea><br/>
  <input type='submit' value="Save"/>
</form>
